:root {
    --border-radius: 10px;
    --color-background: #212121;
    --color-blue: #90CBF0;
    --color-green: #B5F587;
    --color-purple: #D2A4DB;
    --color-red: #F09294;
    --color-yellow: #F2F080;
    --gap: 10px;
}

* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 100%;
    position: absolute;
    width: 100%;
    display: grid;
    gap: var(--gap);
    grid-template-areas:
        "actions graph"
        "log graph";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    padding: var(--gap);
}

body section {
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    padding: 10px;
}

#actions {
    grid-area: actions;
}

#log {
    grid-area: log;
}

#graph {
    grid-area: graph;
    max-height: calc(100vh - 20px);
}

/* Acões */
#actions {
    display: flex;
    gap: var(--gap);
    flex-direction: column;
}

.action-item {
    align-items: center;
    display: flex;
    border: 1px solid white;
    border-radius: calc(var(--border-radius) / 2);
    flex: 1;
    flex-grow: 1;
    justify-content: space-around;
    padding: 10px;
    position: relative;
}

.action-title {
    background-color: var(--color-background);
    color: white;
    font-size: 12px;
    left: 10px;
    padding: 0 4px;
    position: absolute;
    top: -8px;
}

.action-btn {
    color: var(--color-blue);
    background-color: var(--color-background);
    border: 1px solid var(--color-blue);
    border-radius: 5px;
    line-height: 22px;
    padding: 0 5px;
}

.action-btn:hover {
    filter: saturate(3);
    border-style: dashed;
    cursor: pointer;
}

.action-btn:disabled {
    color: gray;
    border-color: gray;
}

.action-btn:disabled:hover {
    filter: none;
    border-style: solid;
    cursor: default;
}

.btn-add {
    color: var(--color-green);
    border-color: var(--color-green);
}

.btn-rem {
    color: var(--color-red);
    border-color: var(--color-red);
}

.btn-action {
    color: var(--color-purple);
    border-color: var(--color-purple);
}

.btn-color {
    background-image: repeating-linear-gradient(to right, var(--color-purple), var(--color-red), var(--color-yellow), var(--color-green), var(--color-blue));
    border: none;
    color: var(--color-background);
    font-weight: bold;
}

.btn-color:hover {
    border: none;
}

.input-group {
    align-items: center;
    color: white;
    display: flex;
    gap: var(--gap);
}

input[type="range"] {
    appearance: none;
    cursor: pointer;
    outline: none;
    height: 15px;
    background-image: repeating-linear-gradient(to right, var(--color-purple), var(--color-red), var(--color-yellow), var(--color-green), var(--color-blue));
    border-radius: 15px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid var(--color-background);
}

#log {
    color: white;
    overflow-y: scroll;
}